@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgba(229, 9, 20, 1);
  --primary-focus: rgba(229, 9, 20, 0.6);
  --primary-content: white;
  --secondary: #c62828;
  --secondary-focus: #c62828;
  --secondary-content: white;
  --accent: #c62828;
  --accent-focus: #c62828;
  --accent-content: #ffffff;
  --neutral: #222;
  --base-100: #111111;
  --base-300: #333333;

  --nflix-logo: #e50914;
  --nflix-logo-fill: rgb(229, 9, 20);
  --nflix-background: #000000;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(@/fonts/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"), url(@/fonts/Gilroy-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url(@/fonts/Gilroy-Regular.woff2) format("woff2");
}

.have-questions {
  background: rgba(0, 0, 0.3);
}

.brand-font-regular {
  font-family: "Gilroy-Regular";
}
.brand-font-medium {
  font-family: "Gilroy-Medium";
}

.brand-font-bold {
  font-family: "Gilroy-Bold";
}

.ways-to-get {
  background: rgb(13, 5, 54);
}

a {
  color: var(--primary);
}
a:hover {
  color: white;
}

html {
  background: var(--base-100);
}

body {
  transition: background-color 0.618s linear;
}

body {
  font-family: "Gilroy-Regular" !important;
  font-size: 1.25rem;
  line-height: 1.6;
  overflow-x: hidden !important;
  background: transparent;
}

.dBWzrh.btn--tertiary {
  background-color: var(--secondary);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.5s ease 0s !important;
}

.btn-color {
  background: var(--secondary);
}

.max-section-hero-dbl-scroll h1 {
  font-size: 1.6em;
  margin: 20px auto;
  max-width: 600px;
}

.max-section-marquee-title h4:before {
  border-image-source: linear-gradient(to left, var(--accent), transparent);
  margin: 0 20px 0 0;
}

.max-section-marquee-title h4:after {
  border-image-source: linear-gradient(to right, var(--accent), transparent);
  margin: 0 0 0 20px;
}
