@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9e86ff;
  --primary-focus: #a991f7;
  --primary-content: white;
  --secondary: #b535f6;
  --secondary-focus: #c800ff;
  --secondary-content: white;
  --accent: #7e22ce;
  --accent-focus: #7b2abf;
  --accent-content: #ff00e5;
  --neutral: #480cb0;
  --base-100: #030326;
  --base-300: #0e0538;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url(@/fonts/Gilroy-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"), url(@/fonts/Gilroy-Medium.woff2) format("woff2");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url(@/fonts/Gilroy-Regular.woff2) format("woff2");
}

.have-questions {
  background: rgba(0, 0, 0.3);
}

.brand-font-regular {
  font-family: "Gilroy-Regular";
}
.brand-font-medium {
  font-family: "Gilroy-Medium";
}

.brand-font-bold {
  font-family: "Gilroy-Bold";
}

.ways-to-get {
  background: rgb(13, 5, 54);
}

a {
  color: #9e86ff;
}
a:hover {
  color: white;
}

html {
  background: var(--base-100);
}

body {
  transition: background-color 0.618s linear;
}

body {
  font-family: "Gilroy-Regular" !important;
  font-size: 1.25rem;
  line-height: 1.6;
  overflow-x: hidden !important;
  background: transparent;
}

.dBWzrh.btn--tertiary {
  background-color: rgb(181, 53, 246);
  color: rgb(255, 255, 255);
  border: 2px solid transparent;
  overflow: hidden;
  transition: all 0.5s ease 0s !important;
}

.btn-color {
  background: #b535f6;
}

.max-section-hero-dbl-scroll h1 {
  font-size: 1.6em;
  margin: 20px auto;
  max-width: 600px;
}

.max-section-marquee-title h4:before {
  border-image-source: linear-gradient(to left, #7b2abf, transparent);
  margin: 0 20px 0 0;
}

.max-section-marquee-title h4:after {
  border-image-source: linear-gradient(to right, #7b2abf, transparent);
  margin: 0 0 0 20px;
}
